<a href="https://colab.research.google.com/github/NanaaOsakii/prediction_covid/blob/main/pffe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data="Défaillance client.xlsx"

In [ ]:
xl = pd.ExcelFile(data)

for nom_feuille in xl.sheet_names:
    print("- ", nom_feuille)

for nom_feuille in xl.sheet_names:
    clients = pd.read_excel(data, sheet_name=nom_feuille)
    print(nom_feuille, ":")
    print(clients)

-  Impayés
-  Sinistres
-  CA annuel 2023
-  CA annuel 2022
-  Encaissement annuel 2023
-  Encaissement annuel 2022
Impayés :
           Date     Code              Client         Représentant    Montant  \
0    2022-01-03  1212216    STE DAOUDI ISSAM    EL HEINDI MOHAMED   26286.00
1    2022-01-03  1236887  STE WIDAS SERVICES        BOUKHAR hamid   95425.58
2    2022-01-12  1244614           STE SALTT        BOUKHAR hamid  199068.00
3    2022-01-12  1239954       STE FM-NEGOCE  ALAOUI MDAGHRI OMAR   31032.00
4    2022-01-13  1047513           STE BINMA   SELLOUTI MED AMINE   66669.65
...         ...      ...                 ...                  ...        ...
1012 2023-09-15  1248487            MARIMANE              OUCHTOU   41148.00
1013 2023-09-25  1248556             R.K.R 3              OUCHTOU   37300.00
1014 2023-09-25  1248556             R.K.R 3              OUCHTOU   37600.00
1015 2023-09-25  1248556             R.K.R 3              OUCHTOU   37500.00
1016 2023-09-25  1248556             R.K.R 3              OUCHTOU   37600.00

               Nature   Echéance       Ville  \
0           CH 717604 2021-12-30        Sale
1         CH 1777588  2021-12-30      Agadir
2         CH 5940584  2022-01-10      Agadir
3      Effet 6301746  2022-01-06  Casablanca
4     Effet 7254971   2022-01-12  Casablanca
...               ...        ...         ...
1012       CH 7796509 2023-09-12      Aghbal
1013      CH 5564383  2023-09-21     Bengrir
1014       CH 6890017 2023-09-21     Bengrir
1015       CH 7303991 2023-09-21     Bengrir
1016      CH 6890051  2023-09-21     Bengrir

                                 Motif Imp Date limite déc Observations  \
0     Absence ou insuffisance de provision      2022-02-13   représenté
1                             SAISIE ARRET      2022-02-13  contentieux
2     Absence ou insuffisance de provision      2022-02-24     remplacé
3     Absence ou insuffisance de provision      2022-02-20  contentieux
4     Absence ou insuffisance de provision      2022-02-26           HG
...                                    ...             ...          ...
1012  Absence ou insuffisance de provision      2023-10-27   représenté
1013        IMAGE CHEQUE ILLISIBLE              2023-11-05   représenté
1014        IMAGE CHEQUE ILLISIBLE              2023-11-05   représenté
1015        IMAGE CHEQUE ILLISIBLE              2023-11-05   représenté
1016        IMAGE CHEQUE ILLISIBLE              2023-11-05   représenté

         Statut   Activité
0         Réglé        BPE
1     Non réglé        BPE
2         Réglé        BPE
3     Non réglé        BPE
4     Non réglé  Granulats
...         ...        ...
1012      Réglé    Ciments
1013      Réglé    Ciments
1014      Réglé    Ciments
1015      Réglé    Ciments
1016      Réglé    Ciments

[1017 rows x 13 columns]
Sinistres :
     Code Client               Débiteur      Commercial Date remise DIC  \
0        1047927      MULTI CONST MOZAH          HADDAD      2003-12-05
1        1046898                    EMS          HADDAD      2004-09-16
2        1082046  EL MADANI BAHLOUL ENT          HADDAD      2005-07-28
3        1049083               EL KHEIR          HADDAD      2005-09-07
4        1049166               SONAMACO          HADDAD      2005-10-06
..           ...                    ...             ...             ...
725      1231170            STE IMA (B)      Mr BOUKHAR      2022-12-14
726      1177585          STE MHSM SARL   SAWAB SOUMAYA      2023-03-27
727      1096225            ELEC-AMPERE      Mr BOUKHAR      2023-04-29
728      1097747            STE CEGETRA  ASEKRI Mohamed      2023-06-27
729      1049140           STE SOBATICO         TAHIRI       2023-09-05

       Créance  Récupération  montant restant Activité
0     30574.99          0.00         30574.99      BPE
1     53100.00      42000.00         11100.00      BPE
2    172725.00     167897.27          4827.73      BPE
3     14392.40          0.00         14392.40      BPE
4    170313.00          0.00        170313.00      BPE
..         ...           ...              ...      ...
725  252600.00     252600.00             0.00      BPE
726   22500.00      22500.00             0.00      BPE
727   24540.00      24540.00             0.00      BPE
728  191802.00     191802.00             0.00      BPE
729  229356.00     229356.00             0.00      BPE

[730 rows x 8 columns]
CA annuel 2023 :
      Sté   Client                      Nom 1  P.  Cde postal        Ville  \
0     815  1046246  STE SMH TELECOMMUNICATION  MA           0   CASABLANCA
1     815  1046254                STE SOCIMAT  MA       20000   CASABLANCA
2     815  1046271                      TAMCO  MA       20000  OULED TEIMA
3     815  1046281      ETS AIT OUCHEN FRERES  MA       20000    TAROUDANT
4     815  1046300                 OUBELKHIRE  MA       20000       TIZNIT
...   ...      ...                        ...  ..         ...          ...
1043  815  1249067     Mr EL BASLAMI ABDELLAH  MA           0         SALE
1044  815  1249068           Mr ZOUHRI MBAREK  MA           0         SALE
1045  815  1249069           Mr HACHAM LAHCEN  MA           0       AGADIR
1046  815  1249079         STE ARMAN BUILDING  MA           0   CASABLANCA
1047  815  1249081  Mr CHEMSEDDINE EL MOSTAFA  MA           0       SETTAT

                                      Rue Dev.  Chiffre d'affaires
0      649 BOULEVARD GOULMIMA - BOURGOGNE  MAD           383076.00
1            57 RUE IBNOU MAJJA BD GHANDI  MAD          6373851.00
2                   BP 93 AV. LIBERTE OT.  MAD         14452172.28
3                         80 DERB CHERIF.  MAD          1454776.20
4               BD BIR ANZARANE R/GUELMIM  MAD           291664.80
...                                   ...  ...                 ...
1043  APPT 11 IMM 26 LOT ABOUAB SALA AL M  MAD            56520.00
1044        HAY SALAM VILLA IRAK A NUM 12  MAD            50736.00
1045          BC 7 N 210 HAY ASSAIS AZROU  MAD             3888.00
1046   N° 12 RUE SABRI BOUJAMAA 1ER ETAGE  MAD            30912.00
1047  QUARTIER EL KHEIR RUE BOUCHAIB MAKD  MAD            18012.00

[1048 rows x 9 columns]
CA annuel 2022 :
      Sté  Cpt. coll.   Client                      Nom 1  P.  Cde postal  \
0     815  1222100000  1046246  STE SMH TELECOMMUNICATION  MA           0
1     815  1222100000  1046254                STE SOCIMAT  MA       20000
2     815  1222100000  1046271                      TAMCO  MA       20000
3     815  1222100000  1046281      ETS AIT OUCHEN FRERES  MA       20000
4     815  1222100000  1046300                 OUBELKHIRE  MA       20000
...   ...         ...      ...                        ...  ..         ...
1223  815  1222100000  1248493        STE FITNESS TRAVAUX  MA           0
1224  815  1222100000  1248494                STE SOBECOM  MA           0
1225  815  1222100000  1248496                  STE WORCO  MA           0
1226  815  1222100000  1248499             Mr BENDI OUAFA  MA           0
1227  815  1222100000  1248507        STE ERMAIDI SERVICE  MA           0

            Ville                                  Rue Dev.  \
0      CASABLANCA   649 BOULEVARD GOULMIMA - BOURGOGNE  MAD
1      CASABLANCA         57 RUE IBNOU MAJJA BD GHANDI  MAD
2     OULED TEIMA                BP 93 AV. LIBERTE OT.  MAD
3       TAROUDANT                      80 DERB CHERIF.  MAD
4          TIZNIT            BD BIR ANZARANE R/GUELMIM  MAD
...           ...                                  ...  ...
1223   CASABLANCA     25 RUE 124 ETG RC GROUPE J OULFA  MAD
1224        RABAT  37 RUE IDRISSI AL AKBAR APP N 6. 3E  MAD
1225       TANGER  LOTISSEMENT EL WAFAE N°77 BNI TOUZI  MAD
1226   CASABLANCA           04 RUE ABOU ALI EL FARISSI  MAD
1227   CASABLANCA  61 AVENUE LALLA YACOUT ANGLE MUSTAP  MAD

      Chiffre d'affaires
0              296976.00
1             8809506.00
2            16717058.26
3             2166552.90
4             4310938.96
...                  ...
1223           100224.00
1224            45792.00
1225           901320.00
1226            80640.00
1227             6342.00

[1228 rows x 10 columns]
Encaissement annuel 2023 :
       Client  Mtant en DI Dev.I
0        1706    -64179.60   MAD
1        1707   -314788.80   MAD
2     1046246   -595764.00   MAD
3     1046254  -7296849.00   MAD
4     1046271 -15447995.98   MAD
...       ...          ...   ...
1206  1249100    -78840.00   MAD
1207  1249101     -1872.00   MAD
1208  1249113   -150000.00   MAD
1209  1249137     -7920.00   MAD
1210  1249140    -10000.00   MAD

[1211 rows x 3 columns]
Encaissement annuel 2022 :
       Client  Mtant en DI Dev.I
0        1705     -57600.0   MAD
1        1707    -260884.8   MAD
2     1046246     -81120.0   MAD
3     1046248    -360926.0   MAD
4     1046254   -6858120.0   MAD
...       ...          ...   ...
1340  1248484     -21900.0   MAD
1341  1248485     -30000.0   MAD
1342  1248490    -268446.0   MAD
1343  1248493    -108000.0   MAD
1344  1248499     -91800.0   MAD

[1345 rows x 3 columns]

In [ ]:
feuilles = ["Encaissement annuel 2022", "Encaissement annuel 2023", "CA annuel 2022", "CA annuel 2023"]
xl = pd.ExcelFile(data)
for nom_feuille in feuilles:
    if nom_feuille in xl.sheet_names:
        df = xl.parse(nom_feuille)
        print( nom_feuille)
        print(df)
    else:
        print("\nLa feuille", nom_feuille, "n'existe pas dans le fichier Excel.")

Encaissement annuel 2022
       Client  Mtant en DI Dev.I
0        1705     -57600.0   MAD
1        1707    -260884.8   MAD
2     1046246     -81120.0   MAD
3     1046248    -360926.0   MAD
4     1046254   -6858120.0   MAD
...       ...          ...   ...
1340  1248484     -21900.0   MAD
1341  1248485     -30000.0   MAD
1342  1248490    -268446.0   MAD
1343  1248493    -108000.0   MAD
1344  1248499     -91800.0   MAD

[1345 rows x 3 columns]
Encaissement annuel 2023
       Client  Mtant en DI Dev.I
0        1706    -64179.60   MAD
1        1707   -314788.80   MAD
2     1046246   -595764.00   MAD
3     1046254  -7296849.00   MAD
4     1046271 -15447995.98   MAD
...       ...          ...   ...
1206  1249100    -78840.00   MAD
1207  1249101     -1872.00   MAD
1208  1249113   -150000.00   MAD
1209  1249137     -7920.00   MAD
1210  1249140    -10000.00   MAD

[1211 rows x 3 columns]
CA annuel 2022
      Sté  Cpt. coll.   Client                      Nom 1  P.  Cde postal  \
0     815  1222100000  1046246  STE SMH TELECOMMUNICATION  MA           0
1     815  1222100000  1046254                STE SOCIMAT  MA       20000
2     815  1222100000  1046271                      TAMCO  MA       20000
3     815  1222100000  1046281      ETS AIT OUCHEN FRERES  MA       20000
4     815  1222100000  1046300                 OUBELKHIRE  MA       20000
...   ...         ...      ...                        ...  ..         ...
1223  815  1222100000  1248493        STE FITNESS TRAVAUX  MA           0
1224  815  1222100000  1248494                STE SOBECOM  MA           0
1225  815  1222100000  1248496                  STE WORCO  MA           0
1226  815  1222100000  1248499             Mr BENDI OUAFA  MA           0
1227  815  1222100000  1248507        STE ERMAIDI SERVICE  MA           0

            Ville                                  Rue Dev.  \
0      CASABLANCA   649 BOULEVARD GOULMIMA - BOURGOGNE  MAD
1      CASABLANCA         57 RUE IBNOU MAJJA BD GHANDI  MAD
2     OULED TEIMA                BP 93 AV. LIBERTE OT.  MAD
3       TAROUDANT                      80 DERB CHERIF.  MAD
4          TIZNIT            BD BIR ANZARANE R/GUELMIM  MAD
...           ...                                  ...  ...
1223   CASABLANCA     25 RUE 124 ETG RC GROUPE J OULFA  MAD
1224        RABAT  37 RUE IDRISSI AL AKBAR APP N 6. 3E  MAD
1225       TANGER  LOTISSEMENT EL WAFAE N°77 BNI TOUZI  MAD
1226   CASABLANCA           04 RUE ABOU ALI EL FARISSI  MAD
1227   CASABLANCA  61 AVENUE LALLA YACOUT ANGLE MUSTAP  MAD

      Chiffre d'affaires
0              296976.00
1             8809506.00
2            16717058.26
3             2166552.90
4             4310938.96
...                  ...
1223           100224.00
1224            45792.00
1225           901320.00
1226            80640.00
1227             6342.00

[1228 rows x 10 columns]
CA annuel 2023
      Sté   Client                      Nom 1  P.  Cde postal        Ville  \
0     815  1046246  STE SMH TELECOMMUNICATION  MA           0   CASABLANCA
1     815  1046254                STE SOCIMAT  MA       20000   CASABLANCA
2     815  1046271                      TAMCO  MA       20000  OULED TEIMA
3     815  1046281      ETS AIT OUCHEN FRERES  MA       20000    TAROUDANT
4     815  1046300                 OUBELKHIRE  MA       20000       TIZNIT
...   ...      ...                        ...  ..         ...          ...
1043  815  1249067     Mr EL BASLAMI ABDELLAH  MA           0         SALE
1044  815  1249068           Mr ZOUHRI MBAREK  MA           0         SALE
1045  815  1249069           Mr HACHAM LAHCEN  MA           0       AGADIR
1046  815  1249079         STE ARMAN BUILDING  MA           0   CASABLANCA
1047  815  1249081  Mr CHEMSEDDINE EL MOSTAFA  MA           0       SETTAT

                                      Rue Dev.  Chiffre d'affaires
0      649 BOULEVARD GOULMIMA - BOURGOGNE  MAD           383076.00
1            57 RUE IBNOU MAJJA BD GHANDI  MAD          6373851.00
2                   BP 93 AV. LIBERTE OT.  MAD         14452172.28
3                         80 DERB CHERIF.  MAD          1454776.20
4               BD BIR ANZARANE R/GUELMIM  MAD           291664.80
...                                   ...  ...                 ...
1043  APPT 11 IMM 26 LOT ABOUAB SALA AL M  MAD            56520.00
1044        HAY SALAM VILLA IRAK A NUM 12  MAD            50736.00
1045          BC 7 N 210 HAY ASSAIS AZROU  MAD             3888.00
1046   N° 12 RUE SABRI BOUJAMAA 1ER ETAGE  MAD            30912.00
1047  QUARTIER EL KHEIR RUE BOUCHAIB MAKD  MAD            18012.00

[1048 rows x 9 columns]

In [ ]:
cible = ["Encaissement annuel 2022"]
xl = pd.ExcelFile(data)
for nom_feuille in cible:
    if nom_feuille in xl.sheet_names:
        df1 = xl.parse(nom_feuille)
        print(nom_feuille)

    else:
        print("\nLa feuille", nom_feuille, "n'existe pas dans le fichier Excel.")

Encaissement annuel 2022

In [ ]:
df1

       Client  Mtant en DI Dev.I
0        1705     -57600.0   MAD
1        1707    -260884.8   MAD
2     1046246     -81120.0   MAD
3     1046248    -360926.0   MAD
4     1046254   -6858120.0   MAD
...       ...          ...   ...
1340  1248484     -21900.0   MAD
1341  1248485     -30000.0   MAD
1342  1248490    -268446.0   MAD
1343  1248493    -108000.0   MAD
1344  1248499     -91800.0   MAD

[1345 rows x 3 columns]

In [ ]:
df1=df1.drop(df1.index[:8])
df1 = df1.rename(columns={"Unnamed: 0": "Client", "Unnamed: 1": "Mtant en DI", "Unnamed: 2": "Dev.I", "Unnamed: 3": "Texte"})
df1.reset_index(drop=True, inplace=True)
df1 = df1.drop(df1.columns[-1], axis=1)
df1

       Client    Mtant en DI Dev.I
0        1705         -57600   MAD
1        1707      -260884.8   MAD
2     1046246         -81120   MAD
3     1046248        -360926   MAD
4     1046254       -6858120   MAD
...       ...            ...   ...
1342  1248490        -268446   MAD
1343  1248493        -108000   MAD
1344  1248499         -91800   MAD
1345      NaN            NaN   NaN
1346      NaN -4393558460.97   MAD

[1347 rows x 3 columns]

In [ ]:
cible2 = ["Encaissement annuel 2023"]
xl = pd.ExcelFile(data)
for nom_feuille in cible2:
    if nom_feuille in xl.sheet_names:
        df2 = xl.parse(nom_feuille)
        print(nom_feuille)

    else:
        print("\nLa feuille", nom_feuille, "n'existe pas dans le fichier Excel.")

Encaissement annuel 2023

In [ ]:
df2

       Client  Mtant en DI Dev.I
0        1706    -64179.60   MAD
1        1707   -314788.80   MAD
2     1046246   -595764.00   MAD
3     1046254  -7296849.00   MAD
4     1046271 -15447995.98   MAD
...       ...          ...   ...
1206  1249100    -78840.00   MAD
1207  1249101     -1872.00   MAD
1208  1249113   -150000.00   MAD
1209  1249137     -7920.00   MAD
1210  1249140    -10000.00   MAD

[1211 rows x 3 columns]

In [ ]:
df2=df2.drop(df2.index[:8])
df2 = df2.rename(columns={"Unnamed: 0": "Client", "Unnamed: 1": "Mtant en DI", "Unnamed: 2": "Dev.I", "Unnamed: 3": "Texte"})
df2 = df2.drop(df2.columns[-1], axis=1)
df2.reset_index(drop=True, inplace=True)
df2

       Client    Mtant en DI Dev.I
0        1706       -64179.6   MAD
1        1707      -314788.8   MAD
2     1046246        -595764   MAD
3     1046254       -7296849   MAD
4     1046271   -15447995.98   MAD
...       ...            ...   ...
1208  1249113        -150000   MAD
1209  1249137          -7920   MAD
1210  1249140         -10000   MAD
1211      NaN            NaN   NaN
1212      NaN -3538448148.08   MAD

[1213 rows x 3 columns]

In [ ]:
cible3 = ["CA annuel 2022"]
xl = pd.ExcelFile(data)
for nom_feuille in cible3:
    if nom_feuille in xl.sheet_names:
        df3 = xl.parse(nom_feuille)
        print( nom_feuille)

    else:
        print("\nLa feuille", nom_feuille, "n'existe pas dans le fichier Excel.")

CA annuel 2022

In [ ]:
df3

,Sté,Cpt. coll.,Client,Nom 1,P.,Cde postal,Ville,Rue,Dev.,Chiffre d'affaires
0,815,1222100000,1046246,STE SMH TELECOMMUNICATION,MA,0,CASABLANCA,649 BOULEVARD GOULMIMA - BOURGOGNE,MAD,296976.00
1,815,1222100000,1046254,STE SOCIMAT,MA,20000,CASABLANCA,57 RUE IBNOU MAJJA BD GHANDI,MAD,8809506.00
2,815,1222100000,1046271,TAMCO,MA,20000,OULED TEIMA,BP 93 AV. LIBERTE OT.,MAD,16717058.26
3,815,1222100000,1046281,ETS AIT OUCHEN FRERES,MA,20000,TAROUDANT,80 DERB CHERIF.,MAD,2166552.90
4,815,1222100000,1046300,OUBELKHIRE,MA,20000,TIZNIT,BD BIR ANZARANE R/GUELMIM,MAD,4310938.96
...,...,...,...,...,...,...,...,...,...,...
1223,815,1222100000,1248493,STE FITNESS TRAVAUX,MA,0,CASABLANCA,25 RUE 124 ETG RC GROUPE J OULFA,MAD,100224.00
1224,815,1222100000,1248494,STE SOBECOM,MA,0,RABAT,37 RUE IDRISSI AL AKBAR APP N 6. 3E,MAD,45792.00
1225,815,1222100000,1248496,STE WORCO,MA,0,TANGER,LOTISSEMENT EL WAFAE N°77 BNI TOUZI,MAD,901320.00
1226,815,1222100000,1248499,Mr BENDI OUAFA,MA,0,CASABLANCA,04 RUE ABOU ALI EL FARISSI,MAD,80640.00
1227,815,1222100000,1248507,STE ERMAIDI SERVICE,MA,0,CASABLANCA,61 AVENUE LALLA YACOUT ANGLE MUSTAP,MAD,6342.00

In [ ]:
df3=df3.drop(df3.index[:4])
df3

,CIMENTS DU MAROC Chiffres affaires clients Heur 15:08:13 Date 31.10.2023,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
4,815,1222100000,1705,VENTES AU PERSONNEL D'AGADIR,MA,NaN,AGADIR,NaN,MAD,57600
5,815,1222100000,1707,VENTES AU PERSONNEL SE SAFI,MA,NaN,NaN,NaN,MAD,260884.8
6,815,1222100000,1046246,STE SMH TELECOMMUNICATION,MA,0,CASABLANCA,649 BOULEVARD GOULMIMA - BOURGOGNE,MAD,296976
7,815,1222100000,1046254,STE SOCIMAT,MA,20000,CASABLANCA,57 RUE IBNOU MAJJA BD GHANDI,MAD,8809506
8,815,1222100000,1046271,TAMCO,MA,20000,OULED TEIMA,BP 93 AV. LIBERTE OT.,MAD,16717058.26
...,...,...,...,...,...,...,...,...,...,...
1231,815,1222100000,1248496,STE WORCO,MA,0,TANGER,LOTISSEMENT EL WAFAE N°77 BNI TOUZI,MAD,901320
1232,815,1222100000,1248499,Mr BENDI OUAFA,MA,0,CASABLANCA,04 RUE ABOU ALI EL FARISSI,MAD,80640
1233,815,1222100000,1248507,STE ERMAIDI SERVICE,MA,0,CASABLANCA,61 AVENUE LALLA YACOUT ANGLE MUSTAP,MAD,6342
1234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1235,815,1222100000,NaN,NaN,NaN,NaN,NaN,NaN,MAD,3995065069.19

In [ ]:
df3.head()

,CIMENTS DU MAROC Chiffres affaires clients Heur 15:08:13 Date 31.10.2023,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
4,815,1222100000,1705,VENTES AU PERSONNEL D'AGADIR,MA,NaN,AGADIR,NaN,MAD,57600
5,815,1222100000,1707,VENTES AU PERSONNEL SE SAFI,MA,NaN,NaN,NaN,MAD,260884.8
6,815,1222100000,1046246,STE SMH TELECOMMUNICATION,MA,0,CASABLANCA,649 BOULEVARD GOULMIMA - BOURGOGNE,MAD,296976
7,815,1222100000,1046254,STE SOCIMAT,MA,20000,CASABLANCA,57 RUE IBNOU MAJJA BD GHANDI,MAD,8809506
8,815,1222100000,1046271,TAMCO,MA,20000,OULED TEIMA,BP 93 AV. LIBERTE OT.,MAD,16717058.26

In [ ]:
df3 = df3.rename(columns={"CIMENTS DU MAROC Chiffres affaires clients Heur 15:08:13 Date 31.10.2023": "Sté",
                          "Unnamed: 1": "Cpt. coll.",
                          "Unnamed: 2": "Client",
                          "Unnamed: 3": "Nom 1",
                          "Unnamed: 4": "P.",
                          "Unnamed: 5": "Cde postal",
                          "Unnamed: 6": "Ville",
                          "Unnamed: 7": "Rue",
                          "Unnamed: 8": "Dev.",
                          "Unnamed: 9": "Chiffre d'affaires"
                          })
old_column_name = df3.columns[0].strip()
df3.rename(columns={old_column_name: "Sté"}, inplace=True)
df3.reset_index(drop=True, inplace=True)
df3

,Sté,Cpt. coll.,Client,Nom 1,P.,Cde postal,Ville,Rue,Dev.,Chiffre d'affaires
0,815,1222100000,1705,VENTES AU PERSONNEL D'AGADIR,MA,NaN,AGADIR,NaN,MAD,57600
1,815,1222100000,1707,VENTES AU PERSONNEL SE SAFI,MA,NaN,NaN,NaN,MAD,260884.8
2,815,1222100000,1046246,STE SMH TELECOMMUNICATION,MA,0,CASABLANCA,649 BOULEVARD GOULMIMA - BOURGOGNE,MAD,296976
3,815,1222100000,1046254,STE SOCIMAT,MA,20000,CASABLANCA,57 RUE IBNOU MAJJA BD GHANDI,MAD,8809506
4,815,1222100000,1046271,TAMCO,MA,20000,OULED TEIMA,BP 93 AV. LIBERTE OT.,MAD,16717058.26
...,...,...,...,...,...,...,...,...,...,...
1227,815,1222100000,1248496,STE WORCO,MA,0,TANGER,LOTISSEMENT EL WAFAE N°77 BNI TOUZI,MAD,901320
1228,815,1222100000,1248499,Mr BENDI OUAFA,MA,0,CASABLANCA,04 RUE ABOU ALI EL FARISSI,MAD,80640
1229,815,1222100000,1248507,STE ERMAIDI SERVICE,MA,0,CASABLANCA,61 AVENUE LALLA YACOUT ANGLE MUSTAP,MAD,6342
1230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1231,815,1222100000,NaN,NaN,NaN,NaN,NaN,NaN,MAD,3995065069.19

In [ ]:
cible4 = ["CA annuel 2023"]

xl = pd.ExcelFile(data)
for nom_feuille in cible4:
    if nom_feuille in xl.sheet_names:
        df4 = xl.parse(nom_feuille)
        print(nom_feuille)
    else:
        print("\nLa feuille", nom_feuille, "n'existe pas dans le fichier Excel.")

CA annuel 2023

In [ ]:
df4

,Sté,Client,Nom 1,P.,Cde postal,Ville,Rue,Dev.,Chiffre d'affaires
0,815,1046246,STE SMH TELECOMMUNICATION,MA,0,CASABLANCA,649 BOULEVARD GOULMIMA - BOURGOGNE,MAD,383076.00
1,815,1046254,STE SOCIMAT,MA,20000,CASABLANCA,57 RUE IBNOU MAJJA BD GHANDI,MAD,6373851.00
2,815,1046271,TAMCO,MA,20000,OULED TEIMA,BP 93 AV. LIBERTE OT.,MAD,14452172.28
3,815,1046281,ETS AIT OUCHEN FRERES,MA,20000,TAROUDANT,80 DERB CHERIF.,MAD,1454776.20
4,815,1046300,OUBELKHIRE,MA,20000,TIZNIT,BD BIR ANZARANE R/GUELMIM,MAD,291664.80
...,...,...,...,...,...,...,...,...,...
1043,815,1249067,Mr EL BASLAMI ABDELLAH,MA,0,SALE,APPT 11 IMM 26 LOT ABOUAB SALA AL M,MAD,56520.00
1044,815,1249068,Mr ZOUHRI MBAREK,MA,0,SALE,HAY SALAM VILLA IRAK A NUM 12,MAD,50736.00
1045,815,1249069,Mr HACHAM LAHCEN,MA,0,AGADIR,BC 7 N 210 HAY ASSAIS AZROU,MAD,3888.00
1046,815,1249079,STE ARMAN BUILDING,MA,0,CASABLANCA,N° 12 RUE SABRI BOUJAMAA 1ER ETAGE,MAD,30912.00
1047,815,1249081,Mr CHEMSEDDINE EL MOSTAFA,MA,0,SETTAT,QUARTIER EL KHEIR RUE BOUCHAIB MAKD,MAD,18012.00

In [ ]:
df4=df4.drop(df4.index[:4])
df4

,CIMENTS DU MAROC Chiffres affaires clients Heur 15:07:40 Date 31.10.2023,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
4,815,1707,VENTES AU PERSONNEL SE SAFI,MA,NaN,NaN,NaN,MAD,314788.8
5,815,1046246,STE SMH TELECOMMUNICATION,MA,0,CASABLANCA,649 BOULEVARD GOULMIMA - BOURGOGNE,MAD,383076
6,815,1046254,STE SOCIMAT,MA,20000,CASABLANCA,57 RUE IBNOU MAJJA BD GHANDI,MAD,6373851
7,815,1046271,TAMCO,MA,20000,OULED TEIMA,BP 93 AV. LIBERTE OT.,MAD,14452172.28
8,815,1046281,ETS AIT OUCHEN FRERES,MA,20000,TAROUDANT,80 DERB CHERIF.,MAD,1454776.2
...,...,...,...,...,...,...,...,...,...
1050,815,1249069,Mr HACHAM LAHCEN,MA,0,AGADIR,BC 7 N 210 HAY ASSAIS AZROU,MAD,3888
1051,815,1249079,STE ARMAN BUILDING,MA,0,CASABLANCA,N° 12 RUE SABRI BOUJAMAA 1ER ETAGE,MAD,30912
1052,815,1249081,Mr CHEMSEDDINE EL MOSTAFA,MA,0,SETTAT,QUARTIER EL KHEIR RUE BOUCHAIB MAKD,MAD,18012
1053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1054,815,NaN,NaN,NaN,NaN,NaN,NaN,MAD,3173064755.21

In [ ]:
old_column = df4.columns[0].strip()
df4.rename(columns={old_column: "Sté"}, inplace=True)
df4.reset_index(drop=True, inplace=True)
df4

,Sté,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,815,1707,VENTES AU PERSONNEL SE SAFI,MA,NaN,NaN,NaN,MAD,314788.8
1,815,1046246,STE SMH TELECOMMUNICATION,MA,0,CASABLANCA,649 BOULEVARD GOULMIMA - BOURGOGNE,MAD,383076
2,815,1046254,STE SOCIMAT,MA,20000,CASABLANCA,57 RUE IBNOU MAJJA BD GHANDI,MAD,6373851
3,815,1046271,TAMCO,MA,20000,OULED TEIMA,BP 93 AV. LIBERTE OT.,MAD,14452172.28
4,815,1046281,ETS AIT OUCHEN FRERES,MA,20000,TAROUDANT,80 DERB CHERIF.,MAD,1454776.2
...,...,...,...,...,...,...,...,...,...
1046,815,1249069,Mr HACHAM LAHCEN,MA,0,AGADIR,BC 7 N 210 HAY ASSAIS AZROU,MAD,3888
1047,815,1249079,STE ARMAN BUILDING,MA,0,CASABLANCA,N° 12 RUE SABRI BOUJAMAA 1ER ETAGE,MAD,30912
1048,815,1249081,Mr CHEMSEDDINE EL MOSTAFA,MA,0,SETTAT,QUARTIER EL KHEIR RUE BOUCHAIB MAKD,MAD,18012
1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1050,815,NaN,NaN,NaN,NaN,NaN,NaN,MAD,3173064755.21

In [ ]:
df4 = df4.rename(columns={"CIMENTS DU MAROC Chiffres affaires clients Heur 15:08:13 Date 31.10.2023": "Sté",
                          "Unnamed: 1": "Client",
                          "Unnamed: 2": "Nom 1",
                          "Unnamed: 3": "P.",
                          "Unnamed: 4": "Cde postal",
                          "Unnamed: 5": "Ville",
                          "Unnamed: 6": "Rue",
                          "Unnamed: 7": "Dev.",
                          "Unnamed: 8": "Chiffre d'affaires"
                          })
df4

,Sté,Client,Nom 1,P.,Cde postal,Ville,Rue,Dev.,Chiffre d'affaires
0,815,1707,VENTES AU PERSONNEL SE SAFI,MA,NaN,NaN,NaN,MAD,314788.8
1,815,1046246,STE SMH TELECOMMUNICATION,MA,0,CASABLANCA,649 BOULEVARD GOULMIMA - BOURGOGNE,MAD,383076
2,815,1046254,STE SOCIMAT,MA,20000,CASABLANCA,57 RUE IBNOU MAJJA BD GHANDI,MAD,6373851
3,815,1046271,TAMCO,MA,20000,OULED TEIMA,BP 93 AV. LIBERTE OT.,MAD,14452172.28
4,815,1046281,ETS AIT OUCHEN FRERES,MA,20000,TAROUDANT,80 DERB CHERIF.,MAD,1454776.2
...,...,...,...,...,...,...,...,...,...
1046,815,1249069,Mr HACHAM LAHCEN,MA,0,AGADIR,BC 7 N 210 HAY ASSAIS AZROU,MAD,3888
1047,815,1249079,STE ARMAN BUILDING,MA,0,CASABLANCA,N° 12 RUE SABRI BOUJAMAA 1ER ETAGE,MAD,30912
1048,815,1249081,Mr CHEMSEDDINE EL MOSTAFA,MA,0,SETTAT,QUARTIER EL KHEIR RUE BOUCHAIB MAKD,MAD,18012
1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1050,815,NaN,NaN,NaN,NaN,NaN,NaN,MAD,3173064755.21

In [ ]:
df5= pd.read_excel(data, sheet_name=0)
df5

,Date,Code,Client,Représentant,Montant,Nature,Echéance,Ville,Motif Imp,Date limite déc,Observations,Statut,Activité
0,2022-01-03,1212216,STE DAOUDI ISSAM,EL HEINDI MOHAMED,26286.00,CH 717604,2021-12-30,Sale,Absence ou insuffisance de provision,2022-02-13,représenté,Réglé,BPE
1,2022-01-03,1236887,STE WIDAS SERVICES,BOUKHAR hamid,95425.58,CH 1777588,2021-12-30,Agadir,SAISIE ARRET,2022-02-13,contentieux,Non réglé,BPE
2,2022-01-12,1244614,STE SALTT,BOUKHAR hamid,199068.00,CH 5940584,2022-01-10,Agadir,Absence ou insuffisance de provision,2022-02-24,remplacé,Réglé,BPE
3,2022-01-12,1239954,STE FM-NEGOCE,ALAOUI MDAGHRI OMAR,31032.00,Effet 6301746,2022-01-06,Casablanca,Absence ou insuffisance de provision,2022-02-20,contentieux,Non réglé,BPE
4,2022-01-13,1047513,STE BINMA,SELLOUTI MED AMINE,66669.65,Effet 7254971,2022-01-12,Casablanca,Absence ou insuffisance de provision,2022-02-26,HG,Non réglé,Granulats
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,2023-09-15,1248487,MARIMANE,OUCHTOU,41148.00,CH 7796509,2023-09-12,Aghbal,Absence ou insuffisance de provision,2023-10-27,représenté,Réglé,Ciments
1013,2023-09-25,1248556,R.K.R 3,OUCHTOU,37300.00,CH 5564383,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments
1014,2023-09-25,1248556,R.K.R 3,OUCHTOU,37600.00,CH 6890017,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments
1015,2023-09-25,1248556,R.K.R 3,OUCHTOU,37500.00,CH 7303991,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments
1016,2023-09-25,1248556,R.K.R 3,OUCHTOU,37600.00,CH 6890051,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments

In [ ]:
df6= pd.read_excel(data, sheet_name=1)
df6

,Code Client,Débiteur,Commercial,Date remise DIC,Créance,Récupération,montant restant,Activité
0,1047927,MULTI CONST MOZAH,HADDAD,2003-12-05,30574.99,0.00,30574.99,BPE
1,1046898,EMS,HADDAD,2004-09-16,53100.00,42000.00,11100.00,BPE
2,1082046,EL MADANI BAHLOUL ENT,HADDAD,2005-07-28,172725.00,167897.27,4827.73,BPE
3,1049083,EL KHEIR,HADDAD,2005-09-07,14392.40,0.00,14392.40,BPE
4,1049166,SONAMACO,HADDAD,2005-10-06,170313.00,0.00,170313.00,BPE
...,...,...,...,...,...,...,...,...
725,1231170,STE IMA (B),Mr BOUKHAR,2022-12-14,252600.00,252600.00,0.00,BPE
726,1177585,STE MHSM SARL,SAWAB SOUMAYA,2023-03-27,22500.00,22500.00,0.00,BPE
727,1096225,ELEC-AMPERE,Mr BOUKHAR,2023-04-29,24540.00,24540.00,0.00,BPE
728,1097747,STE CEGETRA,ASEKRI Mohamed,2023-06-27,191802.00,191802.00,0.00,BPE
729,1049140,STE SOBATICO,TAHIRI,2023-09-05,229356.00,229356.00,0.00,BPE

In [ ]:
df1=df1.dropna()
df1.isnull().any()

Client         False
Mtant en DI    False
Dev.I          False
dtype: bool

In [ ]:
df2.isnull().any()

Client         False
Mtant en DI    False
Dev.I          False
dtype: bool

In [ ]:
df2=df2.dropna()
df2.isnull().any()

Client         False
Mtant en DI    False
Dev.I          False
dtype: bool

In [ ]:
df3=df3.dropna()
df4=df4.dropna()
df5=df5.dropna()
df6=df6.dropna()

In [ ]:
df3.isnull().any()
df4.isnull().any()
df5.isnull().any()
df6.isnull().any()

Code Client        False
Débiteur           False
Commercial         False
Date remise DIC    False
Créance            False
Récupération       False
montant restant    False
Activité           False
dtype: bool

In [ ]:
df1.dtypes

Client           int64
Mtant en DI    float64
Dev.I           object
dtype: object

In [ ]:
df1['Client'] = df1['Client'].astype(int)
df1['Mtant en DI'] = pd.to_numeric(df1['Mtant en DI'], errors='coerce')

In [ ]:
df1.dtypes

Client           int32
Mtant en DI    float64
Dev.I           object
dtype: object

In [ ]:
df2.dtypes

Client           int64
Mtant en DI    float64
Dev.I           object
dtype: object

In [ ]:
df2['Client'] = df2['Client'].astype(int)
df2['Mtant en DI'] = pd.to_numeric(df2['Mtant en DI'], errors='coerce')

In [ ]:
df2.dtypes

Client           int32
Mtant en DI    float64
Dev.I           object
dtype: object

In [ ]:
df3.dtypes

Sté                     int64
Cpt. coll.              int64
Client                  int64
Nom 1                  object
P.                     object
Cde postal              int64
Ville                  object
Rue                    object
Dev.                   object
Chiffre d'affaires    float64
dtype: object

In [ ]:
df3['Client'] = pd.to_numeric(df3['Client'], errors='coerce')
df3['Sté'] = pd.to_numeric(df3['Sté'], errors='coerce')
df3['Cpt. coll.'] = pd.to_numeric(df3['Cpt. coll.'], errors='coerce')
df3['Cde postal'] = pd.to_numeric(df3['Cde postal'], errors='coerce')
df3['Chiffre d\'affaires'] = pd.to_numeric(df3['Chiffre d\'affaires'], errors='coerce')

In [ ]:
df3.dtypes

Sté                     int64
Cpt. coll.              int64
Client                  int64
Nom 1                  object
P.                     object
Cde postal              int64
Ville                  object
Rue                    object
Dev.                   object
Chiffre d'affaires    float64
dtype: object

In [ ]:
df4.dtypes

Sté                     int64
Client                  int64
Nom 1                  object
P.                     object
Cde postal              int64
Ville                  object
Rue                    object
Dev.                   object
Chiffre d'affaires    float64
dtype: object

In [ ]:
df4['Client'] = pd.to_numeric(df4['Client'], errors='coerce')
df4['Sté'] = pd.to_numeric(df4['Sté'], errors='coerce')
df4['Cde postal'] = pd.to_numeric(df4['Cde postal'], errors='coerce')
df4['Chiffre d\'affaires'] = pd.to_numeric(df4['Chiffre d\'affaires'], errors='coerce')

In [ ]:
df4.dtypes

Sté                     int64
Client                  int64
Nom 1                  object
P.                     object
Cde postal              int64
Ville                  object
Rue                    object
Dev.                   object
Chiffre d'affaires    float64
dtype: object

In [ ]:
df5.dtypes

Date               datetime64[ns]
Code                        int64
Client                     object
Représentant               object
Montant                   float64
Nature                     object
Echéance           datetime64[ns]
Ville                      object
Motif Imp                  object
Date limite déc    datetime64[ns]
Observations               object
Statut                     object
Activité                   object
dtype: object

In [ ]:
df6.dtypes

Code Client                 int64
Débiteur                   object
Commercial                 object
Date remise DIC    datetime64[ns]
Créance                   float64
Récupération              float64
montant restant           float64
Activité                   object
dtype: object

In [ ]:
df6['Date remise DIC'] = pd.to_datetime(df6['Date remise DIC'])

In [ ]:
with pd.ExcelWriter(data, mode='a', engine="openpyxl", if_sheet_exists='replace') as writer:

    if 'Encaissement annuel 2022' in xl.sheet_names:
        df1.to_excel(writer, sheet_name='Encaissement annuel 2022', index=False)

    if 'Encaissement annuel 2023' in xl.sheet_names:
        df2.to_excel(writer, sheet_name='Encaissement annuel 2023', index=False)

    if 'CA annuel 2022' in xl.sheet_names:
        df3.to_excel(writer, sheet_name='CA annuel 2022', index=False)

    if 'CA annuel 2023' in xl.sheet_names:
        df4.to_excel(writer, sheet_name='CA annuel 2023', index=False)

    df5.to_excel(writer, sheet_name='Impayés', index=False)

    df6.to_excel(writer, sheet_name='Sinistres', index=False)

In [ ]:
xl = pd.ExcelFile(data)
print("Feuilles disponibles dans le fichier Excel:")
for nom_feuille in xl.sheet_names:
    print("- ", nom_feuille)

for nom_feuille in xl.sheet_names:
    clients = pd.read_excel(data, sheet_name=nom_feuille)
    print("\nContenu de la feuille", nom_feuille, ":")
    print(clients)

Feuilles disponibles dans le fichier Excel:
-  Impayés
-  Sinistres
-  CA annuel 2023
-  CA annuel 2022
-  Encaissement annuel 2023
-  Encaissement annuel 2022

Contenu de la feuille Impayés :
           Date     Code              Client         Représentant    Montant  \
0    2022-01-03  1212216    STE DAOUDI ISSAM    EL HEINDI MOHAMED   26286.00
1    2022-01-03  1236887  STE WIDAS SERVICES        BOUKHAR hamid   95425.58
2    2022-01-12  1244614           STE SALTT        BOUKHAR hamid  199068.00
3    2022-01-12  1239954       STE FM-NEGOCE  ALAOUI MDAGHRI OMAR   31032.00
4    2022-01-13  1047513           STE BINMA   SELLOUTI MED AMINE   66669.65
...         ...      ...                 ...                  ...        ...
1012 2023-09-15  1248487            MARIMANE              OUCHTOU   41148.00
1013 2023-09-25  1248556             R.K.R 3              OUCHTOU   37300.00
1014 2023-09-25  1248556             R.K.R 3              OUCHTOU   37600.00
1015 2023-09-25  1248556             R.K.R 3              OUCHTOU   37500.00
1016 2023-09-25  1248556             R.K.R 3              OUCHTOU   37600.00

               Nature   Echéance       Ville  \
0           CH 717604 2021-12-30        Sale
1         CH 1777588  2021-12-30      Agadir
2         CH 5940584  2022-01-10      Agadir
3      Effet 6301746  2022-01-06  Casablanca
4     Effet 7254971   2022-01-12  Casablanca
...               ...        ...         ...
1012       CH 7796509 2023-09-12      Aghbal
1013      CH 5564383  2023-09-21     Bengrir
1014       CH 6890017 2023-09-21     Bengrir
1015       CH 7303991 2023-09-21     Bengrir
1016      CH 6890051  2023-09-21     Bengrir

                                 Motif Imp Date limite déc Observations  \
0     Absence ou insuffisance de provision      2022-02-13   représenté
1                             SAISIE ARRET      2022-02-13  contentieux
2     Absence ou insuffisance de provision      2022-02-24     remplacé
3     Absence ou insuffisance de provision      2022-02-20  contentieux
4     Absence ou insuffisance de provision      2022-02-26           HG
...                                    ...             ...          ...
1012  Absence ou insuffisance de provision      2023-10-27   représenté
1013        IMAGE CHEQUE ILLISIBLE              2023-11-05   représenté
1014        IMAGE CHEQUE ILLISIBLE              2023-11-05   représenté
1015        IMAGE CHEQUE ILLISIBLE              2023-11-05   représenté
1016        IMAGE CHEQUE ILLISIBLE              2023-11-05   représenté

         Statut   Activité
0         Réglé        BPE
1     Non réglé        BPE
2         Réglé        BPE
3     Non réglé        BPE
4     Non réglé  Granulats
...         ...        ...
1012      Réglé    Ciments
1013      Réglé    Ciments
1014      Réglé    Ciments
1015      Réglé    Ciments
1016      Réglé    Ciments

[1017 rows x 13 columns]

Contenu de la feuille Sinistres :
     Code Client               Débiteur      Commercial Date remise DIC  \
0        1047927      MULTI CONST MOZAH          HADDAD      2003-12-05
1        1046898                    EMS          HADDAD      2004-09-16
2        1082046  EL MADANI BAHLOUL ENT          HADDAD      2005-07-28
3        1049083               EL KHEIR          HADDAD      2005-09-07
4        1049166               SONAMACO          HADDAD      2005-10-06
..           ...                    ...             ...             ...
725      1231170            STE IMA (B)      Mr BOUKHAR      2022-12-14
726      1177585          STE MHSM SARL   SAWAB SOUMAYA      2023-03-27
727      1096225            ELEC-AMPERE      Mr BOUKHAR      2023-04-29
728      1097747            STE CEGETRA  ASEKRI Mohamed      2023-06-27
729      1049140           STE SOBATICO         TAHIRI       2023-09-05

       Créance  Récupération  montant restant Activité
0     30574.99          0.00         30574.99      BPE
1     53100.00      42000.00         11100.00      BPE
2    172725.00     167897.27          4827.73      BPE
3     14392.40          0.00         14392.40      BPE
4    170313.00          0.00        170313.00      BPE
..         ...           ...              ...      ...
725  252600.00     252600.00             0.00      BPE
726   22500.00      22500.00             0.00      BPE
727   24540.00      24540.00             0.00      BPE
728  191802.00     191802.00             0.00      BPE
729  229356.00     229356.00             0.00      BPE

[730 rows x 8 columns]

Contenu de la feuille CA annuel 2023 :
      Sté   Client                      Nom 1  P.  Cde postal        Ville  \
0     815  1046246  STE SMH TELECOMMUNICATION  MA           0   CASABLANCA
1     815  1046254                STE SOCIMAT  MA       20000   CASABLANCA
2     815  1046271                      TAMCO  MA       20000  OULED TEIMA
3     815  1046281      ETS AIT OUCHEN FRERES  MA       20000    TAROUDANT
4     815  1046300                 OUBELKHIRE  MA       20000       TIZNIT
...   ...      ...                        ...  ..         ...          ...
1043  815  1249067     Mr EL BASLAMI ABDELLAH  MA           0         SALE
1044  815  1249068           Mr ZOUHRI MBAREK  MA           0         SALE
1045  815  1249069           Mr HACHAM LAHCEN  MA           0       AGADIR
1046  815  1249079         STE ARMAN BUILDING  MA           0   CASABLANCA
1047  815  1249081  Mr CHEMSEDDINE EL MOSTAFA  MA           0       SETTAT

                                      Rue Dev.  Chiffre d'affaires
0      649 BOULEVARD GOULMIMA - BOURGOGNE  MAD           383076.00
1            57 RUE IBNOU MAJJA BD GHANDI  MAD          6373851.00
2                   BP 93 AV. LIBERTE OT.  MAD         14452172.28
3                         80 DERB CHERIF.  MAD          1454776.20
4               BD BIR ANZARANE R/GUELMIM  MAD           291664.80
...                                   ...  ...                 ...
1043  APPT 11 IMM 26 LOT ABOUAB SALA AL M  MAD            56520.00
1044        HAY SALAM VILLA IRAK A NUM 12  MAD            50736.00
1045          BC 7 N 210 HAY ASSAIS AZROU  MAD             3888.00
1046   N° 12 RUE SABRI BOUJAMAA 1ER ETAGE  MAD            30912.00
1047  QUARTIER EL KHEIR RUE BOUCHAIB MAKD  MAD            18012.00

[1048 rows x 9 columns]

Contenu de la feuille CA annuel 2022 :
      Sté  Cpt. coll.   Client                      Nom 1  P.  Cde postal  \
0     815  1222100000  1046246  STE SMH TELECOMMUNICATION  MA           0
1     815  1222100000  1046254                STE SOCIMAT  MA       20000
2     815  1222100000  1046271                      TAMCO  MA       20000
3     815  1222100000  1046281      ETS AIT OUCHEN FRERES  MA       20000
4     815  1222100000  1046300                 OUBELKHIRE  MA       20000
...   ...         ...      ...                        ...  ..         ...
1223  815  1222100000  1248493        STE FITNESS TRAVAUX  MA           0
1224  815  1222100000  1248494                STE SOBECOM  MA           0
1225  815  1222100000  1248496                  STE WORCO  MA           0
1226  815  1222100000  1248499             Mr BENDI OUAFA  MA           0
1227  815  1222100000  1248507        STE ERMAIDI SERVICE  MA           0

            Ville                                  Rue Dev.  \
0      CASABLANCA   649 BOULEVARD GOULMIMA - BOURGOGNE  MAD
1      CASABLANCA         57 RUE IBNOU MAJJA BD GHANDI  MAD
2     OULED TEIMA                BP 93 AV. LIBERTE OT.  MAD
3       TAROUDANT                      80 DERB CHERIF.  MAD
4          TIZNIT            BD BIR ANZARANE R/GUELMIM  MAD
...           ...                                  ...  ...
1223   CASABLANCA     25 RUE 124 ETG RC GROUPE J OULFA  MAD
1224        RABAT  37 RUE IDRISSI AL AKBAR APP N 6. 3E  MAD
1225       TANGER  LOTISSEMENT EL WAFAE N°77 BNI TOUZI  MAD
1226   CASABLANCA           04 RUE ABOU ALI EL FARISSI  MAD
1227   CASABLANCA  61 AVENUE LALLA YACOUT ANGLE MUSTAP  MAD

      Chiffre d'affaires
0              296976.00
1             8809506.00
2            16717058.26
3             2166552.90
4             4310938.96
...                  ...
1223           100224.00
1224            45792.00
1225           901320.00
1226            80640.00
1227             6342.00

[1228 rows x 10 columns]

Contenu de la feuille Encaissement annuel 2023 :
       Client  Mtant en DI Dev.I
0        1706    -64179.60   MAD
1        1707   -314788.80   MAD
2     1046246   -595764.00   MAD
3     1046254  -7296849.00   MAD
4     1046271 -15447995.98   MAD
...       ...          ...   ...
1206  1249100    -78840.00   MAD
1207  1249101     -1872.00   MAD
1208  1249113   -150000.00   MAD
1209  1249137     -7920.00   MAD
1210  1249140    -10000.00   MAD

[1211 rows x 3 columns]

Contenu de la feuille Encaissement annuel 2022 :
       Client  Mtant en DI Dev.I
0        1705     -57600.0   MAD
1        1707    -260884.8   MAD
2     1046246     -81120.0   MAD
3     1046248    -360926.0   MAD
4     1046254   -6858120.0   MAD
...       ...          ...   ...
1340  1248484     -21900.0   MAD
1341  1248485     -30000.0   MAD
1342  1248490    -268446.0   MAD
1343  1248493    -108000.0   MAD
1344  1248499     -91800.0   MAD

[1345 rows x 3 columns]

In [ ]:
# Liste des noms de feuilles
noms_feuilles = ["Impayés", "Sinistres", "CA annuel 2023", "CA annuel 2022", "Encaissement annuel 2023", "Encaissement annuel 2022"]

# Parcourir chaque feuille pour vérifier la redondance
for feuille in noms_feuilles:
    df = pd.read_excel(data, sheet_name=feuille)
    duplicates_mask = df.duplicated(keep=False)
    duplicates_indices = df.index[duplicates_mask]
    num_duplicates = len(duplicates_indices)
    if num_duplicates > 0:
        print(f"Feuille {feuille} contient {num_duplicates} doublons :")
        print("Indices des lignes répétées :")
        print(duplicates_indices)
        print("\nDétails des lignes répétées :")
        print(df[duplicates_mask])
    else:
        print(f"Aucun doublon trouvé dans la feuille {feuille}")

Feuille Impayés contient 2 doublons :
Indices des lignes répétées :
Index([487, 488], dtype='int64')

Détails des lignes répétées :
          Date     Code     Client        Représentant    Montant  \
487 2023-02-16  1047513  STE BINMA  SELLOUTI MED AMINE  109346.05
488 2023-02-16  1047513  STE BINMA  SELLOUTI MED AMINE  109346.05

              Nature   Echéance       Ville  \
487  Effet 7100825   2023-02-15  Casablanca
488  Effet 7100825   2023-02-15  Casablanca

                                Motif Imp Date limite déc Observations  \
487  Absence ou insuffisance de provision      2023-04-01  contentieux
488  Absence ou insuffisance de provision      2023-04-01  contentieux

        Statut   Activité
487  Non réglé  Granulats
488  Non réglé  Granulats
Aucun doublon trouvé dans la feuille Sinistres
Aucun doublon trouvé dans la feuille CA annuel 2023
Aucun doublon trouvé dans la feuille CA annuel 2022
Aucun doublon trouvé dans la feuille Encaissement annuel 2023
Aucun doublon trouvé dans la feuille Encaissement annuel 2022

In [ ]:
df5

,Date,Code,Client,Représentant,Montant,Nature,Echéance,Ville,Motif Imp,Date limite déc,Observations,Statut,Activité
0,2022-01-03,1212216,STE DAOUDI ISSAM,EL HEINDI MOHAMED,26286.00,CH 717604,2021-12-30,Sale,Absence ou insuffisance de provision,2022-02-13,représenté,Réglé,BPE
1,2022-01-03,1236887,STE WIDAS SERVICES,BOUKHAR hamid,95425.58,CH 1777588,2021-12-30,Agadir,SAISIE ARRET,2022-02-13,contentieux,Non réglé,BPE
2,2022-01-12,1244614,STE SALTT,BOUKHAR hamid,199068.00,CH 5940584,2022-01-10,Agadir,Absence ou insuffisance de provision,2022-02-24,remplacé,Réglé,BPE
3,2022-01-12,1239954,STE FM-NEGOCE,ALAOUI MDAGHRI OMAR,31032.00,Effet 6301746,2022-01-06,Casablanca,Absence ou insuffisance de provision,2022-02-20,contentieux,Non réglé,BPE
4,2022-01-13,1047513,STE BINMA,SELLOUTI MED AMINE,66669.65,Effet 7254971,2022-01-12,Casablanca,Absence ou insuffisance de provision,2022-02-26,HG,Non réglé,Granulats
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,2023-09-15,1248487,MARIMANE,OUCHTOU,41148.00,CH 7796509,2023-09-12,Aghbal,Absence ou insuffisance de provision,2023-10-27,représenté,Réglé,Ciments
1013,2023-09-25,1248556,R.K.R 3,OUCHTOU,37300.00,CH 5564383,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments
1014,2023-09-25,1248556,R.K.R 3,OUCHTOU,37600.00,CH 6890017,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments
1015,2023-09-25,1248556,R.K.R 3,OUCHTOU,37500.00,CH 7303991,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments
1016,2023-09-25,1248556,R.K.R 3,OUCHTOU,37600.00,CH 6890051,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments

In [ ]:
df5["Observations"] = df5["Observations"].str.replace("Encaissé dapres houssam mail du 20/06/2023. hors garantis", "remplacé", regex=True)
df5["Observations"] = df5["Observations"].str.replace("^Représenté le \d{2}/\d{2}/\d{4}", "représenté", regex=True)
df5["Observations"] = df5["Observations"].str.replace("^Représentée \d{2}/\d{2}/\d{4}", "représenté", regex=True)
df5["Observations"] = df5["Observations"].str.replace("^Déclare le \d{2}/\d{2}/\d{4}", "déclaré", regex=True)
df5["Observations"] = df5["Observations"].str.replace("^Déclaré le \d{2}/\d{2}/\d{4}", "déclaré", regex=True)
df5["Observations"] = df5["Observations"].str.replace("^Remplacé par .* \d{2}/\d{2}/\d{4}", "remplacé", regex=True)
df5["Observations"] = df5["Observations"].str.replace("08/03/2022: houssam confirme par mail l'encaissement du chèque.", "remplacé", regex=True)
df5["Observations"] = df5["Observations"].str.replace("Smaex", "déclaré", regex=True)
df5["Observations"] = df5["Observations"].str.replace("DIC", "contentieux", regex=True)
df5["Observations"] = df5["Observations"].str.replace("Avocat", "contentieux", regex=True)
df5["Observations"] = df5["Observations"].str.replace("hors garantis, contentieux", "contentieux", regex=True)
df5["Observations"] = df5["Observations"].str.replace("^Réglé par virement le \d{2}/\d{2}/\d{4}", "remplacé", regex=True)
df5["Observations"] = df5["Observations"].str.replace("représenté. Réglé partiellement par chèque AKO2101067 de 70KMAD le 12/12/2022", "remplacé", regex=True)
#df5["Observations"] = df5["Observations"].str.replace("Encaissé dapres houssam mail du 20/06/2023. hors garantisChèque en double réglé par deux chèque en avance ", "remplacé", regex=True)
df5["Observations"] = df5["Observations"].str.replace("Chèque en double réglé par deux chèque en avance", "remplacé", regex=True)
#df5["Observations"] = df5["Observations"].str.replace("Encaissé dapres houssam mail du 20/06/2023. hors garantis", "remplacé", regex=True)

df5.loc[df5["Observations"].str.startswith("PS"), "Observations"] = "remplacé"
df5.loc[df5["Observations"].str.startswith("Réglé"), "Observations"] = "remplacé"
df5.loc[df5["Observations"].str.startswith("réglé"), "Observations"] = "remplacé"
df5.loc[df5["Observations"].str.startswith("remplacé"), "Observations"] = "remplacé"
df5.loc[df5["Observations"].str.startswith("Remplacé"), "Observations"] = "remplacé"
df5.loc[df5["Observations"].str.startswith("Compte soldé"), "Observations"] = "remplacé"
df5.loc[df5["Observations"].str.startswith("Envoyé"), "Observations"] = "déclaré"
df5.loc[df5["Observations"].str.startswith("déclaré, représenté "), "Observations"] = "représenté"
df5.loc[df5["Observations"].str.startswith("Compte soldé"), "Observations"] = "déclaré, remplacé"
df5.loc[df5["Observations"].str.startswith("Notifié"), "Observations"] = "déclaré"
df5.loc[df5["Observations"].str.startswith("contentieux"), "Observations"] = "contentieux"
df5.loc[df5["Observations"].str.startswith("hors garantis Représenté "), "Observations"] = "représenté"
df5.loc[df5["Observations"].str.startswith("hors garantis Remplacé"), "Observations"] = "remplacé"
df5.loc[df5["Observations"].str.startswith("représenté"), "Observations"] = "représenté"
df5.loc[df5["Observations"].str.startswith("hors garantis remplacé"), "Observations"] = "remplacé"

df5["Observations"] = df5["Observations"].str.replace("HG", "hors garantis", regex=True)
df5["Observations"] = df5["Observations"].str.replace("solde créditeur", "remplacé", regex=True)
df5["Observations"] = df5["Observations"].str.replace("compte créditeur", "remplacé", regex=True)
df5["Observations"] = df5["Observations"].str.replace("compte soldé", "remplacé", regex=True)

df5["Observations"] = df5["Observations"].str.replace("^Déclaré le \d{2}/\d{2}/\d{4}", "déclaré", regex=True)
df5["Observations"] = df5["Observations"].str.replace("^contentieux Déclaré le \d{2}/\d{2}/\d{4}", "contentieux", regex=True)

df5.loc[df5["Observations"].str.startswith("déclaré, remplacé"), "Observations"] = "remplacé"
df5.loc[df5["Observations"].str.startswith("déclaré- contentieux"), "Observations"] = "contentieux"
df5.loc[df5["Observations"].str.startswith("hors garantis contentieux"), "Observations"] = "contentieux"
df5.loc[df5["Observations"].str.startswith("déclaré"), "Observations"] = "déclaré"
df5.loc[df5["Observations"].str.startswith("Déclaré"), "Observations"] = "déclaré"
df5.loc[df5["Observations"].str.startswith("hors garantis"), "Observations"] = "hors garantis"

In [ ]:

# Calculer le nombre de valeurs différentes dans la colonne "Observations"
nombre_valeurs_differentes = df5["Observations"].nunique()

# Afficher le nombre de valeurs différentes dans la colonne "Observations"
print("Nombre de valeurs différentes dans la colonne 'Observations' de la feuille 'Impayés':", nombre_valeurs_differentes)


# Obtenir les valeurs uniques de la colonne "Observations"
valeurs_uniques_observations = df5["Observations"].unique()

# Afficher les valeurs uniques de la colonne "Observations"
#print("Valeurs uniques de la colonne 'Observations' de la feuille 'Impayés':")
for valeur in valeurs_uniques_observations:
    print(valeur)

Nombre de valeurs différentes dans la colonne 'Observations' de la feuille 'Impayés': 6
représenté
contentieux
remplacé
hors garantis
déclaré

In [ ]:
df5

,Date,Code,Client,Représentant,Montant,Nature,Echéance,Ville,Motif Imp,Date limite déc,Observations,Statut,Activité
0,2022-01-03,1212216,STE DAOUDI ISSAM,EL HEINDI MOHAMED,26286.00,CH 717604,2021-12-30,Sale,Absence ou insuffisance de provision,2022-02-13,représenté,Réglé,BPE
1,2022-01-03,1236887,STE WIDAS SERVICES,BOUKHAR hamid,95425.58,CH 1777588,2021-12-30,Agadir,SAISIE ARRET,2022-02-13,contentieux,Non réglé,BPE
2,2022-01-12,1244614,STE SALTT,BOUKHAR hamid,199068.00,CH 5940584,2022-01-10,Agadir,Absence ou insuffisance de provision,2022-02-24,remplacé,Réglé,BPE
3,2022-01-12,1239954,STE FM-NEGOCE,ALAOUI MDAGHRI OMAR,31032.00,Effet 6301746,2022-01-06,Casablanca,Absence ou insuffisance de provision,2022-02-20,contentieux,Non réglé,BPE
4,2022-01-13,1047513,STE BINMA,SELLOUTI MED AMINE,66669.65,Effet 7254971,2022-01-12,Casablanca,Absence ou insuffisance de provision,2022-02-26,hors garantis,Non réglé,Granulats
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,2023-09-15,1248487,MARIMANE,OUCHTOU,41148.00,CH 7796509,2023-09-12,Aghbal,Absence ou insuffisance de provision,2023-10-27,représenté,Réglé,Ciments
1013,2023-09-25,1248556,R.K.R 3,OUCHTOU,37300.00,CH 5564383,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments
1014,2023-09-25,1248556,R.K.R 3,OUCHTOU,37600.00,CH 6890017,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments
1015,2023-09-25,1248556,R.K.R 3,OUCHTOU,37500.00,CH 7303991,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments
1016,2023-09-25,1248556,R.K.R 3,OUCHTOU,37600.00,CH 6890051,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments

In [ ]:
# Renommer la colonne "Observations" en "Catégorie"
df5.rename(columns={"Observations": "Catégorie"}, inplace=True)

# Afficher les premières lignes du DataFrame pour vérification
print(df5.head())

        Date     Code              Client         Représentant    Montant  \
0 2022-01-03  1212216    STE DAOUDI ISSAM    EL HEINDI MOHAMED   26286.00
1 2022-01-03  1236887  STE WIDAS SERVICES        BOUKHAR hamid   95425.58
2 2022-01-12  1244614           STE SALTT        BOUKHAR hamid  199068.00
3 2022-01-12  1239954       STE FM-NEGOCE  ALAOUI MDAGHRI OMAR   31032.00
4 2022-01-13  1047513           STE BINMA   SELLOUTI MED AMINE   66669.65

            Nature   Echéance       Ville  \
0        CH 717604 2021-12-30        Sale
1      CH 1777588  2021-12-30      Agadir
2      CH 5940584  2022-01-10      Agadir
3   Effet 6301746  2022-01-06  Casablanca
4  Effet 7254971   2022-01-12  Casablanca

                              Motif Imp Date limite déc      Catégorie  \
0  Absence ou insuffisance de provision      2022-02-13     représenté
1                          SAISIE ARRET      2022-02-13    contentieux
2  Absence ou insuffisance de provision      2022-02-24       remplacé
3  Absence ou insuffisance de provision      2022-02-20    contentieux
4  Absence ou insuffisance de provision      2022-02-26  hors garantis

      Statut   Activité
0      Réglé        BPE
1  Non réglé        BPE
2      Réglé        BPE
3  Non réglé        BPE
4  Non réglé  Granulats

In [ ]:
df5

,Date,Code,Client,Représentant,Montant,Nature,Echéance,Ville,Motif Imp,Date limite déc,Catégorie,Statut,Activité
0,2022-01-03,1212216,STE DAOUDI ISSAM,EL HEINDI MOHAMED,26286.00,CH 717604,2021-12-30,Sale,Absence ou insuffisance de provision,2022-02-13,représenté,Réglé,BPE
1,2022-01-03,1236887,STE WIDAS SERVICES,BOUKHAR hamid,95425.58,CH 1777588,2021-12-30,Agadir,SAISIE ARRET,2022-02-13,contentieux,Non réglé,BPE
2,2022-01-12,1244614,STE SALTT,BOUKHAR hamid,199068.00,CH 5940584,2022-01-10,Agadir,Absence ou insuffisance de provision,2022-02-24,remplacé,Réglé,BPE
3,2022-01-12,1239954,STE FM-NEGOCE,ALAOUI MDAGHRI OMAR,31032.00,Effet 6301746,2022-01-06,Casablanca,Absence ou insuffisance de provision,2022-02-20,contentieux,Non réglé,BPE
4,2022-01-13,1047513,STE BINMA,SELLOUTI MED AMINE,66669.65,Effet 7254971,2022-01-12,Casablanca,Absence ou insuffisance de provision,2022-02-26,hors garantis,Non réglé,Granulats
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,2023-09-15,1248487,MARIMANE,OUCHTOU,41148.00,CH 7796509,2023-09-12,Aghbal,Absence ou insuffisance de provision,2023-10-27,représenté,Réglé,Ciments
1013,2023-09-25,1248556,R.K.R 3,OUCHTOU,37300.00,CH 5564383,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments
1014,2023-09-25,1248556,R.K.R 3,OUCHTOU,37600.00,CH 6890017,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments
1015,2023-09-25,1248556,R.K.R 3,OUCHTOU,37500.00,CH 7303991,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments
1016,2023-09-25,1248556,R.K.R 3,OUCHTOU,37600.00,CH 6890051,2023-09-21,Bengrir,IMAGE CHEQUE ILLISIBLE,2023-11-05,représenté,Réglé,Ciments

In [ ]:
#Encaissement annuel 2022

# Ajouter une nouvelle colonne "Annee" avec la valeur "2022"
df1['Annee'] = 2022

# Afficher les premières lignes du DataFrame après l'ajout de la colonne "Annee"
print(df1.head())

    Client  Mtant en DI Dev.I  Annee
0     1705     -57600.0   MAD   2022
1     1707    -260884.8   MAD   2022
2  1046246     -81120.0   MAD   2022
3  1046248    -360926.0   MAD   2022
4  1046254   -6858120.0   MAD   2022

In [ ]:
#Encaissement annuel 2023

# Ajouter une nouvelle colonne "Annee" avec la valeur "2023"
df2['Annee'] = 2023

# Afficher les premières lignes du DataFrame après l'ajout de la colonne "Annee"
print(df2.head())

    Client  Mtant en DI Dev.I  Annee
0     1706    -64179.60   MAD   2023
1     1707   -314788.80   MAD   2023
2  1046246   -595764.00   MAD   2023
3  1046254  -7296849.00   MAD   2023
4  1046271 -15447995.98   MAD   2023

In [ ]:
#CA annuel 2022

# Ajouter une nouvelle colonne "Annee" avec la valeur "2022"
df3['Annee'] = 2022

# Afficher les premières lignes du DataFrame après l'ajout de la colonne "Annee"
print(df3.head())

   Sté  Cpt. coll.   Client                      Nom 1  P.  Cde postal  \
0  815  1222100000  1046246  STE SMH TELECOMMUNICATION  MA           0
1  815  1222100000  1046254                STE SOCIMAT  MA       20000
2  815  1222100000  1046271                      TAMCO  MA       20000
3  815  1222100000  1046281      ETS AIT OUCHEN FRERES  MA       20000
4  815  1222100000  1046300                 OUBELKHIRE  MA       20000

         Ville                                 Rue Dev.  Chiffre d'affaires  \
0   CASABLANCA  649 BOULEVARD GOULMIMA - BOURGOGNE  MAD           296976.00
1   CASABLANCA        57 RUE IBNOU MAJJA BD GHANDI  MAD          8809506.00
2  OULED TEIMA               BP 93 AV. LIBERTE OT.  MAD         16717058.26
3    TAROUDANT                     80 DERB CHERIF.  MAD          2166552.90
4       TIZNIT           BD BIR ANZARANE R/GUELMIM  MAD          4310938.96

   Annee
0   2022
1   2022
2   2022
3   2022
4   2022

In [ ]:
#Encaissement annuel 2023

# Ajouter une nouvelle colonne "Annee" avec la valeur "2023"
df4['Annee'] = 2023

# Afficher les premières lignes du DataFrame après l'ajout de la colonne "Annee"
print(df4.head())

   Sté   Client                      Nom 1  P.  Cde postal        Ville  \
0  815  1046246  STE SMH TELECOMMUNICATION  MA           0   CASABLANCA
1  815  1046254                STE SOCIMAT  MA       20000   CASABLANCA
2  815  1046271                      TAMCO  MA       20000  OULED TEIMA
3  815  1046281      ETS AIT OUCHEN FRERES  MA       20000    TAROUDANT
4  815  1046300                 OUBELKHIRE  MA       20000       TIZNIT

                                  Rue Dev.  Chiffre d'affaires  Annee
0  649 BOULEVARD GOULMIMA - BOURGOGNE  MAD           383076.00   2023
1        57 RUE IBNOU MAJJA BD GHANDI  MAD          6373851.00   2023
2               BP 93 AV. LIBERTE OT.  MAD         14452172.28   2023
3                     80 DERB CHERIF.  MAD          1454776.20   2023
4           BD BIR ANZARANE R/GUELMIM  MAD           291664.80   2023

In [ ]:
with pd.ExcelWriter(data, mode='a', engine="openpyxl", if_sheet_exists='replace') as writer:

    if 'Encaissement annuel 2022' in xl.sheet_names:
        df1.to_excel(writer, sheet_name='Encaissement annuel 2022', index=False)

    if 'Encaissement annuel 2023' in xl.sheet_names:
        df2.to_excel(writer, sheet_name='Encaissement annuel 2023', index=False)

    if 'CA annuel 2022' in xl.sheet_names:
        df3.to_excel(writer, sheet_name='CA annuel 2022', index=False)

    if 'CA annuel 2023' in xl.sheet_names:
        df4.to_excel(writer, sheet_name='CA annuel 2023', index=False)

    df5.to_excel(writer, sheet_name='Impayés', index=False)

    df6.to_excel(writer, sheet_name='Sinistres', index=False)

In [ ]:
xl = pd.ExcelFile(data)
print("Feuilles disponibles dans le fichier Excel:")
for nom_feuille in xl.sheet_names:
    print("- ", nom_feuille)

for nom_feuille in xl.sheet_names:
    clients = pd.read_excel(data, sheet_name=nom_feuille)
    print("\nContenu de la feuille", nom_feuille, ":")
    print(clients)

In [ ]:
from sklearn.model_selection import train_test_split

#Feuille Impayes
# Sélectionner les variables pertinentes
df_impayes_selected = df5[["Date limite déc", "Catégorie"]]
# Nettoyer les données (supprimer les valeurs manquantes et les doublons)
df_impayes_selected.dropna(inplace=True)

C:\Users\Fzamzam\AppData\Local\Temp\1\ipykernel_13772\2745561278.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_impayes_selected.dropna(inplace=True)

In [ ]:
# Feuille Sinistres

# Sélectionner les variables pertinentes
df_sinistres_selected = df6["montant restant"]
# Nettoyer les données (supprimer les valeurs manquantes et les doublons)
df_sinistres_selected.dropna(inplace=True)
df_sinistres_selected.drop_duplicates(inplace=True)

C:\Users\Fzamzam\AppData\Local\Temp\1\ipykernel_13772\3379551603.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sinistres_selected.dropna(inplace=True)
C:\Users\Fzamzam\AppData\Local\Temp\1\ipykernel_13772\3379551603.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sinistres_selected.drop_duplicates(inplace=True)

In [ ]:
# Feuille CA annuel 2023

feuille_ca_2023 = "CA annuel 2023"
df_ca_2023 = pd.read_excel(data, sheet_name=feuille_ca_2023)
# Sélectionner les variables pertinentes
df_ca_2023_selected = df_ca_2023["Chiffre d'affaires"]
# Nettoyer les données (supprimer les valeurs manquantes et les doublons)
df_ca_2023_selected.dropna(inplace=True)
df_ca_2023_selected.drop_duplicates(inplace=True)

In [ ]:
# Feuille CA annuel 2022

feuille_ca_2022 = "CA annuel 2022"
df_ca_2022 = pd.read_excel(data, sheet_name=feuille_ca_2022)
# Sélectionner les variables pertinentes
df_ca_2022_selected = df_ca_2022["Chiffre d'affaires"]
# Nettoyer les données (supprimer les valeurs manquantes et les doublons)
df_ca_2022_selected.dropna(inplace=True)
df_ca_2022_selected.drop_duplicates(inplace=True)

In [ ]:
# Feuille Encaissement annuel 2023

feuille_encaissement_2023 = "Encaissement annuel 2023"
df_encaissement_2023 = pd.read_excel(data, sheet_name=feuille_encaissement_2023)
# Sélectionner les variables pertinentes
df_encaissement_2023_selected = df_encaissement_2023["Mtant en DI"]
# Nettoyer les données (supprimer les valeurs manquantes et les doublons)
df_encaissement_2023_selected.dropna(inplace=True)
df_encaissement_2023_selected.drop_duplicates(inplace=True)

In [ ]:
# Feuille Encaissement annuel 2022
feuille_encaissement_2022 = "Encaissement annuel 2022"
df_encaissement_2022 = pd.read_excel(data, sheet_name=feuille_encaissement_2022)
# Sélectionner les variables pertinentes
df_encaissement_2022_selected = df_encaissement_2022["Mtant en DI"]
# Nettoyer les données (supprimer les valeurs manquantes et les doublons)
df_encaissement_2022_selected.dropna(inplace=True)
df_encaissement_2022_selected.drop_duplicates(inplace=True)

In [ ]:
# Diviser les données en ensembles d'entraînement et de test